<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <link rel="stylesheet" href="/build/css/style.min.css">
    <link rel="stylesheet" href="/build/js/main.min.js">
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="navbar-list">
            <h1 class="h1">green</h1>

          </div>
        </div>
      </nav>
    </header>
    
    
    
    <main>
    <div class="container" style="background-color: aqua;">Hello world</div>

      
    <ul class="updates">
      <script id="template" type="text/x-handlebars-template">
         <li>
       <h2>{{name}}</h2>
         </li>
      </script>
   </ul>
    
   <script src="/src/templates/handlebars-v4.7.3.js"></script>


    <footer>

    </footer>
  </body>
</html>
